#experience-section {
  padding: 30px 15px;
}
#experience-section .large-title {
  color: #c6e4ff;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
  left: -100px;
}
#experience-section .experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#experience-section .experience-container .large-icons .square-parent {
  border: 20px solid #52b8ff;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: -100px;
}
#experience-section .experience-container .large-icons .square-parent .square-child {
  color: white;
  width: 150px;
  height: 150px;
  background: #52b8ff;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.1rem;
}
#experience-section .experience-container .large-icons .circle-parent {
  border: 20px solid #ffc853;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: 70px;
  left: 50px;
}
#experience-section .experience-container .large-icons .circle-parent .circle-child {
  color: #ffc853;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  letter-spacing: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
#experience-section .experience-container .large-icons .triangle-parent {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 230px 150px;
  border-color: transparent transparent #ff5253 transparent;
  position: relative;
}
#experience-section .experience-container .large-icons .triangle-parent .triangle-child {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 93.75px 151.75px 93.75px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: -94px;
  top: 49px;  
}
#experience-section .experience-container .large-icons .triangle-parent .triangle-child .text {
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff5253;
  position: relative;
  top: 98px;
  left: -29px;
}
#experience-section .experience-container .info {
  padding: 60px 0 0;
}
#experience-section .experience-container .info .img-box{
  position: relative;
  text-align: right;
}
#experience-section .experience-container .info .img-box .lambda-img{
  width: 260px;
  position: absolute;
  top: -115px;
  left: 255px;
}
#experience-section .experience-container .info .info-box {
  padding: 15px;
}
#experience-section .experience-container .info .info-box h4 {
  color: #16171c;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#experience-section .experience-container .info .info-box .date {
  color: #52b7ff;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 15px 0;
  display: block;
}
#experience-section .experience-container .info .info-box p {
  color: #b2b2b4;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
  line-height: 1.5;
}




 /* Tablets */
 @media only screen and (max-width: 960px){
  #experience-section .large-title {
    left: 0px;
    margin-bottom: 35px;
  }
  #experience-section .experience-container .large-icons {
    position: relative;
    top: -30px;
  }
  #experience-section .experience-container .large-icons .square-parent {
    top: 55px;
    left: 50px;
  }
  #experience-section .experience-container .large-icons .circle-parent {
    top: 25px;
    left: 50px;
  }
  #experience-section .experience-container .large-icons .triangle-parent {
    top: -25px;
  }
  #experience-section .experience-container .info .img-box .lambda-img {
    width: 185px;
    position: absolute;
    top: -35px;
    left: 15px;
  }
}
 /* Mobile */
  @media only screen and (max-width: 767px){
    #experience-section .large-title {
      margin-bottom: 10px;
      left: 0px;
      font-size: 2.8rem;
      letter-spacing: 3px;
    }
    #experience-section .experience-container {
      grid-template-columns: 1fr;
    }
    #experience-section .experience-container .large-icons {
      display: none;
    }
    #experience-section .experience-container .info .info-box h4 {
      font-size: .8rem;
      letter-spacing: 1px;
      line-height: 1.1;
    }
    #experience-section .experience-container .info .info-box .date {
      font-size: .7rem;
      letter-spacing: 1px;
      line-height: 1.1;
    }
    #experience-section .experience-container .info .img-box .lambda-img {
      width: 185px;
      position: absolute;
      top: -35px;
      left: 15px;
    }
}