@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "header.css";
@import "landing-page/intro-section.css";
@import "landing-page/skills-section.css";
@import "landing-page/process-section.css";
@import "landing-page/portfolio-section.css";
@import "landing-page/experience-section.css";
@import "portfolio/portfolio-projects.css";
@import "footer-section.css";

body {
  /* background: #eee; */
  /* background-color: lightgray; */
  /* background-image: linear-gradient( to right bottom, #d9d9d9, #f6f2f2); */

  background: linear-gradient(
  -45deg, hsl(196, 40%, 91%),hsl(196, 21%, 97%));
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

