#portfolio-section{
    padding: 80px 15px;
}
#portfolio-section .title{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#portfolio-section .title .square{
    background: #ffeded;
    width: 135px;
    height: 135px;
    position: absolute;
    top: 30px;
}
#portfolio-section .title h1{
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
    letter-spacing: 4px;
    font-weight: bold;
}
#portfolio-section .portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-gap: 10px;
}
#portfolio-section .portfolio-container .box{
    background: black;
    display: block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}
#portfolio-section .portfolio-container .box:hover{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 40px 74px 25px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 40px 74px 25px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 40px 74px 25px rgba(0,0,0,0.08);
}
#portfolio-section .portfolio-container .box .image .hover-bg{
    border-radius: 5px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    transition: all .4s ease-in-out;
    height: 100%;
    width: 100%;
}
#portfolio-section .portfolio-container .box:hover .image .hover-bg{
    border-radius: 5px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, .6);
}
#portfolio-section .portfolio-container .box .image .hover-bg .title{
    height: 100%;
    width: 100%;
}
#portfolio-section .portfolio-container .box .image .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d( 0, 400px, 0);
    transition: all .5s ease-in-out;
    opacity: 0;
}
#portfolio-section .portfolio-container .box:hover .image .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d( 0, 0, 0);
    opacity: 1;
}


 /* Box locations  */
#portfolio-section .portfolio-container .box.image1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#portfolio-section .portfolio-container .box.image1 .image{
    background: url('https://cdn.dribbble.com/users/1666561/screenshots/16156221/media/72e8b60e48aefdcf556ed6a94981a9e2.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image2{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}
#portfolio-section .portfolio-container .box.image2 .image{
    background: url('https://cdn.dribbble.com/users/3515564/screenshots/16156741/media/4975945b543df214eb984e81c91475b6.png?compress=1&resize=1000x750');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image3{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
#portfolio-section .portfolio-container .box.image3 .image{
    background: url('https://cdn.dribbble.com/users/1994279/screenshots/15765112/media/bbd2c1e68ee917a65f584f4946ff4965.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#portfolio-section .portfolio-container .box.image4 .image{
    background: url('https://cdn.dribbble.com/users/1069526/screenshots/16165710/media/a391d786ade8cf2e94c4a0110fb06a66.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image5{
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}
#portfolio-section .portfolio-container .box.image5 .image{
    background: url('https://cdn.dribbble.com/users/2187824/screenshots/16172270/media/1115cbae46cba9ba8c1d74b82467d8fc.png?compress=1&resize=1200x900');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image6{
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}
#portfolio-section .portfolio-container .box.image6 .image{
    background: url('https://cdn.dribbble.com/users/812225/screenshots/16172317/media/194c5a0fcd57b701bb2c73b2b968aaca.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#portfolio-section .portfolio-container .box.image7{
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}
#portfolio-section .portfolio-container .box.image7 .image{
    background: url('https://cdn.dribbble.com/users/6532302/screenshots/16172660/media/3fa120547492c6f06447b4845d45d5e4.jpg?compress=1&resize=1200x900');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

