#intro-section{
    position: relative;
    width: 100%;
    /* margin-top: 4rem; */
}

.intro-bg{
    z-index: 0;
    width: 100%;
}

.intro-bg .intro-bg-img{
    background: url('../../img/production/markus-spiske-MI9-PY5cyNs-unsplash.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
    margin: 0 auto;
    filter: grayscale(100%);
    z-index: 0;
}

.intro-title{
    /* border: 1px solid red; */
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 23%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro-title-bg{
    /* border: 1px solid white; */
    background-color: #111;
    opacity: .85;
    height: 16rem;
    width: 55rem;
    border-radius: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    box-shadow: 0 1px 8px 0px #eee;
}

.intro-title h1,
.intro-title p,
.intro-title a{
    color: #fff;
    z-index: 300;
}

.intro-title h1{
    color: #7FC1F0;
    font-size: 4.4rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.intro-title p{
    color: #FF9E9E;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.intro-title a{
    display: inline-block;
    color: #aaa;
    font-size: 1.6rem;
    text-decoration: none;
    padding-bottom: .5rem;
    /* border-bottom: 1px solid #fff; */
}

.intro-title a:hover{
    color: #fff;
}

.intro-title a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.intro-title a:hover::after {
    width: 100%;
}



 /* Tablets */
 @media only screen and (max-width: 960px){
    .intro-bg .intro-bg-img{
        height: 1000px;
    }

    .intro-title{
        top: 18%;
    }

    .intro-title-bg{
        height: 13rem;
        width: 38rem;
    }

    .intro-title h1{
        font-size: 3rem;
    }
    
    .intro-title p{
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }
    
    .intro-title a{
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: .5rem;
        border-bottom: 2px solid #fff;
    }
}
 /* Mobile */
@media only screen and (max-width: 767px){
    .intro-bg .intro-bg-img{
        height: 650px;
    }

    .intro-title{
        top: 23%;
    }

    .intro-title-bg{
        height: 7.5rem;
        width: 19.5rem;
    }

    .intro-title h1{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    
    .intro-title p{
        font-size: 1.4rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }
    
    .intro-title a{
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: .2rem;
        border-bottom: 2px solid #fff;
    }
}
