#top{
    margin-bottom: 30px;
}

#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}

#top .info{
    padding: 15px;
    position: relative;
}

#top .info .blue-square{
    border: 20px solid #dbf1ff;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: -70%;
    left: -70%;
}

#top .info h1{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    margin-bottom: 2rem;
    z-index: 1;
}

#top .info p{
    position: relative;
    color: #919191;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    z-index: 1;
}

#top .info a{
    position: relative;
    color: #16171b;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    z-index: 1;
}

#top .img{
    
}

#top .img .background-img{
    background: url('../../img/production/placeholder-profile.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 500px;
    height: 770px;
    margin: 0 auto;
}


 /* Tablets */
@media only screen and (max-width: 960px){
    #top .container {
        padding: 0 0 80px;
    }
    #top .img .background-img{
        max-width: 430px;
        height: 100vh;
        margin: 0 auto;
    }
    #top .container .info .blue-square {
        left: -64%
    }
    #top .container .info h1 {
        font-size: 1.9rem;
    }
}
 /* Mobile */
@media only screen and (max-width: 767px){
    #top .container {
        padding: 0 0 80px;
    }
    #top .container .background-img {
        height: 100vh;
    }
    #top .container .info .blue-square {
        display: none;
    }
    #top .container .info h1 {
        font-size: 1.4rem;
    }
}